<!-- Smooth Scroll -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/smooth-scroll.min.js">
</script>

<!-- Main JS -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js">
</script>


<!-- Lightbox -->

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<!-- Cookie Consent -->

<script src="/assets/js/cookieconsent.min.js"></script>

<script>
 window.cookieconsent.initialise({
  container: document.getElementById("content"),
  palette:{
   popup: {background: "#fff"},
   button: {background: "#aa0000"},
  },
  revokable:true,
  onStatusChange: function(status) {
   console.log(this.hasConsented() ?
    'enable cookies' : 'disable cookies');
  },
  law: {
   regionalLaw: false,
  },
  location: true,
 });
</script>
