  <header>
    <a class="logo" href="{{ site.baseurl }}/">  <img src="{{ site.baseurl }}{{ site.logo }}" alt=""></a>
      <i id="burger" class="material-icons" onclick="burger()">menu</i>
      <i id="quit" class="material-icons" onclick="quit()">clear</i>

      <ul id="large-menu" class="navbar-nav">

        {% for item in site.data.navigation %}

          <li class="nav-item {% if page.url contains item.link %} active {% endif %}">

            <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}"> {{ item.name }}</a>

          {% if item.second-level %}
            <ul>

            {% for item in item.second-level %}
              <li><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}

            </ul>
          {% endif %}
          </li>

        {% endfor %}

      <li>  <a target="_blank" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
      </ul>

        <div id="links">
          <ul class="mobile-menu">

            {% for item in site.data.navigation %}

              <li><a onclick="{% unless item.second-level %} quit() {% endunless %}" class="menu-item" href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></li>

              {% if item.second-level %}

                <ul class="second-level">

                  {% for item in item.second-level %}
                    <li onclick="quit()" class="second-level-item"><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></li>
                  {% endfor %}

                </ul>

              {% endif %}

            {% endfor %}

          </ul>
        </div>
  </header>
