  <header>
      <img class="logo" src="{{ site.logo }}" alt="">
      <i id="burger" class="material-icons" onclick="burger()">menu</i>
      <i id="quit" class="material-icons" onclick="quit()">clear</i>

      <ul id="large-menu" class="navbar-nav">

        {% for item in site.data.navigation %}

          <li class="nav-item {% if page.url contains item.link %} active {% endif %}">

            <a class="nav-link" href="{{ item.link }}"> {{ item.name }}

          {% if item.second-level %}
            <ul>

            {% for item in item.second-level %}
              <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}

            </ul>
          {% endif %}
          </li>

        {% endfor %}
      </ul>

        <div id="links">
          <ul>

            {% for item in site.data.navigation %}

              <li><a onclick="quit()" class="menu-item" href="{{ item.link }}">{{ item.name }}</a></li>

              {% if item.second-level %}

                {% for item in item.second-level %}
                  <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}

              {% endif %}

            {% endfor %}

          </ul>
        </div>
  </header>
