#contatti-background {
  background-image: $blue-gradient;
  display: flex;
  justify-content: center;
  width: 100%;
}
#contatti-wrap {
  flex-shrink: 0;
  padding-top: 10rem;
  width: 80%;
  max-width: 1400px;
  * {
    flex-shrink: 0;
  }
}
#contatti {
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  * {
    max-width: 90%;
  }
}
#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p, img {
    text-align: center;
    margin: 0;
  }
  p.indirizzo {
    margin-top: 2rem;
  }
}
