#contatti-wrap {
  background-image: $blue-gradient;
  margin-top: 0;
  padding: 10rem;
}
#contatti {
  margin: 4rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  * {
    width: 50%;
  }
}
#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p, img {
    text-align: center;
    margin: 0;
  }
}
