header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  * {
    color: white;
    width: 33.33%;
  }
}
header:after {
  content: '';
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  ul#large-menu {
    display: flex;
    list-style: none;
    align-items: center;
  }
}
.fab.fa-facebook-f {
  font-size: 30px;
}
a {
  font: 100% $text;
  text-decoration: none;
}

ul {
  margin: 0 auto;
  padding-left: 0;
}

li {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  span.nav-link {
    cursor: default;
  }
  .nav-link {
    text-transform: uppercase;
  }
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 1rem;
  display: none;
}

ul li ul li {
  clear: both;
  width: 100%;
  a {
    color: white;
  }
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 1;
  background-color: rgba(000, 000, 000, 0.5);
  width: min-content;
}
a.logo {
  img {
    max-width: 200px;
    margin-left: 5rem;
    margin-top: 2rem;
  }
}

li {
  white-space: nowrap;
}
