header {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  z-index: 1;

  * {
    color: white;
  }
}
.fab.fa-facebook-f {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  ul#large-menu {
    display: flex;
    list-style: none;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li ul li {
  clear: both;
  width: 100%;
  a {
    color: white;
  }
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 1;
  background-color: rgba(000, 000, 000, 0.5);
}

header {
  display: flex;
  padding: 1rem;
}
ul#large-menu {
  position: absolute;
  left: 36%;
  margin-top: 1rem;
}
img.logo {
  max-width: 200px;
}
li {
  white-space: nowrap;
}
