.small {
  width: 300px;
  margin: 0.3rem;
}
.gallery {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;

.gallery-pictures {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}
