// carousel-brand
#brands-carousel-wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  #brands-carousel {
    position: relative;
    display: flex;
    max-width: 70vw;
    align-items: center;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    .brand {
      max-width: 150px;
      padding: 0 20px;
    }
  }

  #carousel-arrow-left {
    padding: 0 1rem;
    cursor: pointer;
  }

  #carousel-arrow-right {
    padding: 0 1rem;
    cursor: pointer;
  }
}

#home-title {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slide.active {
  opacity: 1;
}

.slide {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: 1.5s;
}

section.offer {
  padding: 2rem 0;
  width: 100%;

  div.wings {
    margin: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .wing {
      width: 80%;
      max-width: 400px;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem;
      border-radius: 30%;
    }

    div.sub-section {
      display: none;
    }
    .wing:hover {
      h3.section {
        display: none;
      }
      .sub-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          margin: 2rem 0;
          width: 80%;
        }
      }
    }

  }

}
