#burger{
  position: fixed;
  right: -25%;
  top: 0;
  color: black;
  font-size: 32px;
  padding: 25px 25px 32px 32px;
  transition: 1s;
  cursor: pointer;
  z-index: 5;
}

#burger.expanded {
  background-image: $blue-gradient;
  color: white;
}

#quit{
  position: fixed;
  top: 0;
  color: white;
  font-size: 32px;
  padding: 25px;
  display: none;
  cursor: pointer;
  z-index: 11;
}
#links{
  position: fixed;
  top: 0;
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  z-index: 10;
}

#links .menu-item{
  text-decoration: none;
  color: white;
  font-size: 0.5em;
  font: 100% $text;
  z-index: 10;
  padding: 1rem 0 3rem 0 ;
}
div#links ul {
  display: flex;
  flex-direction: column;
}
.second-level {
  // display: none;
  margin-left: 2rem;
  border-left: solid 1px white;
}
ul.mobile-menu {
    position: fixed;
    top: 10%;
    left: 20%;
}
