//Large screen
@media screen and (min-width: 769px){
  #links, #burger, #quit {
    display: none;
  }
  div.brands {
    justify-content: space-around;
  }
  div.brand-description.left {
    left: 0;
      .arrow-up {
        visibility: hidden;
        opacity: 0;
        width: 30px;
        height: 30px;
        border: solid 1px;
        transform: rotate(45deg);
        position: absolute;
        top: -15px;
        left: 10%;
        z-index: 2;
        top: -16px;
        background-color: white;
    }
  }
  div.brand-description.right {
    right: 0;
    .arrow-up {
      visibility: hidden;
      opacity: 0;
      width: 30px;
      height: 30px;
      border: solid 1px;
      transform: rotate(45deg);
      position: absolute;
      top: -15px;
      left: 86%;
      z-index: 2;
      top: -16px;
      background-color: white;
    }
  }

  // Home

  #professionalità {
    justify-content: space-around;
    margin: 5rem 0;
    
    .handshake {
      transform: scale(1.5);
    }
  }
}

// Tablet
@media screen and (max-width: 768px){
  ul#large-menu {
    display: none;

    * {
      display: none !important;
    }
  }

}

// Smartphone
@media screen and (max-width: 375px){
}
