//Large screen
@media screen and (min-width: 769px){
  // Fonts
  h1 {
    font-size: 60px;
    font-weight: 700;
text-align: center;
  }
  #links, #burger, #quit {
    display: none;
  }
  div.brands {
    justify-content: flex-start;
  }
  div.brand-description.left {
    left: 0;
      .arrow-up {
        visibility: hidden;
        opacity: 0;
        width: 30px;
        height: 30px;
        border: solid 1px;
        transform: rotate(45deg);
        position: absolute;
        bottom: -15px;
        left: 10%;
        z-index: 2;
        background-color: white;
    }
  }
  div.brand-description.right {
    right: 0;
    .arrow-up {
      visibility: hidden;
      opacity: 0;
      width: 30px;
      height: 30px;
      border: solid 1px;
      transform: rotate(45deg);
      position: absolute;
      left: 86%;
      z-index: 2;
      bottom: -16px;
      background-color: white;
    }
  }

  // Home
    .handshake {
      transform: scale(1.5);
    }
}

// Tablet
@media screen and (max-width: 768px){
  ul#large-menu {
    display: none;

    * {
      display: none !important;
    }

  }

  a.logo img {
    margin-left: 1rem;
  }

  .second-level {
    .second-level-item {
      padding: 0.5rem;
    }
  }

  // Brand Pages
  .page-title-slide {
    justify-content: center;

    .title-content {
      align-items: center;
      justify-content: space-around;
      height: 50%;
      .page-title {
        position: relative;
        right: 0;
        top: 0;
      }
      .shoe {
        align-self: center;
      }
    }
  }
  .page-title-slide.pelletteria {
    padding: 0;
  }
  .pelletteria-title-content {
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 100%;
    .page-title {
      margin: 0;
    }
  }
  // contatti

  #contatti {
    flex-direction: column-reverse;
    width: 100%;

    iframe.map {
      margin-top: 4rem;
    }
    #contact-info {
      img.logo {
        margin: 2rem 0;
      }
    }
  }

  // Footer
}

// Smartphone
@media screen and (max-width: 375px){
  .side-model {
    display: none;
  }

}
