* {
  font-family: 100% $primary-font;
}
html {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}
h1 {
  font-size: 120px;
  font-weight: 700;
}
h2 {
  font-size: 70px;
  font-weight: 700;
  margin: 1rem 0 0 0;
}
h3 {
  font-size: 30px;
  font-weight: 700;
}
p {
  font-size: 16px;
  line-height: 1.5;
  padding: 0 2rem;
  text-align: justify;
}
a {
  color: #000000;
  text-decoration: none;
}
img {
  object-fit: contain;
}
.grow {
  flex-grow: 1;
}
.button {
  padding: 1rem 2rem;
  border: solid 1px;
  color: black;
  margin-top: 2rem;
  :hover {
    color: black;
  }
}
.light {
  color: $light;
}
.dark {
  color: $dark;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 1rem;
  flex: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 2rem 0;
  border-top: solid 1px;
}

img.brand-logo {
  max-width: 250px;
}

div.brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
div.brand-wrap {
  flex: 0 0 33.33333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.brand {
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}

div.brand-description {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  background-color: white;
  z-index: 1;
  border: solid 1px;
  width: 90vw;
  max-width: 1000px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.arrow-up-cover {
  visibility: hidden;
  width: 100%;
  height: 30px;
  background-color: white;
  position: absolute;
  z-index: 3;
  background-color: white;
  align-self: center;
  background-color: white;
}
div.brand:hover {
  cursor: pointer;
  div.brand-description {
  visibility: visible;
  opacity: 1;
  }
  div.arrow-up, div.arrow-up-cover {
    visibility: visible;
    opacity: 1;
  }


}
p.brand-text {
  margin-top: 2rem;
  z-index: 4;
}
.arrow-up {
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 30px;
  border: solid 1px;
  transform: rotate(45deg);
  position: absolute;
  top: -15px;
  left: 48.5%;
  z-index: 2;
  top: -16px;
  background-color: white;
}
// Desktop
@media screen and (min-width: 768px) {
  div.brand-description {
    max-width: 1000px;

  p.brand-text {
    max-width: 670px;
  }
  }

}
