
// Fonts
$titles: 'Libre Baskerville', serif;
$text: 'Libre Baskerville', serif;

//Colors
$yellow: #FCEE4F;
$red: #D1342D;
$light: #ffffff;
$dark: #000000;

$blue-gradient: radial-gradient(67% 172%, #6C85F0 26%, #1B3C5D 100%);
