---
layout: default
---
<div id="" class="page-title-slide-background" style="background-image: linear-gradient(179deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.40) 20%, rgba(0,0,0,0.40) 100%), url({{ site.baseurl }}{{ page.title-image }});">
  <div class="title-content-backgrgound">
    <h1 class="page-title-background white">{{ page.title }}</h1>
  </div>
</div>
<div id="" class="brand-display">
  <div id="side-model-uomo" class="side-model" style="background-image: url({{ site.baseurl }}{{ page.side-model }})">
  </div>
  <div id="" class="brands" >

    {% assign section-name = page.section-name %}
    {% assign brands = "" | split: ',' %}
    {% for item in site.data.brands %}
      {% if item.section contains section-name %}
        {% assign brands = brands | push:item %}
      {% endif %}
    {% endfor %}

    {% assign brands-ordered = "" | split: ',' %}

    {% for ordered-item in site.data.brands-ordine.borse-donna %}
      {% for item in brands %}
        {% if ordered-item == item.name %}

          {% assign brands-ordered = brands-ordered | push:item %}

        {% endif %}
      {% endfor %}
    {% endfor %}

    {% for item in brands-ordered %}
    {% assign position = forloop.index | modulo:3 %}
      {% if item.section contains section-name %}
      {% assign position = forloop.index | modulo:3 %}
        {% if position == 0 %}
        <div class="brand-wrap">
          <div id="" class="brand" >



            <img class="brand-logo"src="{{ site.baseurl }}{{ item.logo }}" alt="">

          </div>
        </div>

      {% elsif position == 1 %}

      <div class="brand-wrap">
        <div id="" class="brand" >

          <img class="brand-logo"src="{{ site.baseurl }}{{ item.logo }}" alt="">

        </div>
      </div>

      {% elsif position == 2 %}

      <div class="brand-wrap">
        <div id="" class="brand" >



          <img class="brand-logo"src="{{ site.baseurl }}{{ item.logo }}" alt="">
        </div>
      </div>

      {% endif %}


      {% endif %}
    {% endfor %}

  </div>
</div>
