---
layout: default
---
<div id="" class="page-title-slide" >

</div>
<div id="" class="brand-display">
  <div id="side-model-donna" class="side-model" style="background-image: url({{ site.baseurl }}/assets/model.jpg)">

  </div>
  <div id="" class="brands" >

    <img src="" alt="">
    {% assign calzature-donna = "" | split: ',' %}
    {% for item in site.data.brands %}
      {% if item.section contains "d" %}
      {% assign calzature-donna = calzature-donna | push:item %}
      {% endif %}
    {% endfor %}

    {% for item in calzature-donna %}
    {% assign position = forloop.index | modulo:3 %}
      {% if item.section contains "d" %}
      {% assign position = forloop.index | modulo:3 %}
        {% if position == 0 %}
        <div class="brand-wrap">
          <div id="" class="brand" >



            <img class="brand-logo"src="{{ site.baseurl }}{{ item.logo }}" alt="">

            <div id="" class="brand-description right" >


              <div id="" class="arrow-up" >
              </div>

              <div id="" class="arrow-up-cover" >
              </div>

              <h2>{{ item.name }}</h2>

              <p class="brand-text">  {{ item.copy | markdowmify }} </p>

            </div>
          </div>
        </div>

      {% elsif position == 1 %}

      <div class="brand-wrap">
        <div id="" class="brand" >

          <img class="brand-logo"src="{{ site.baseurl }}{{ item.logo }}" alt="">

          <div id="" class="brand-description left" >

          <div id="" class="arrow-up" >
          </div>

          <div id="" class="arrow-up-cover" >
          </div>

            <h2>{{ item.name }}</h2>

            <p class="brand-text">  {{ item.copy | markdowmify }} </p>

          </div>
        </div>
      </div>

      {% elsif position == 2 %}

      <div class="brand-wrap">
        <div id="" class="brand" >



          <img class="brand-logo"src="{{ site.baseurl }}{{ item.logo }}" alt="">

          <div id="" class="brand-description center" >

            <div id="" class="arrow-up" >
            </div>

            <div id="" class="arrow-up-cover" >
            </div>

            <h2>{{ item.name }}</h2>

            <p class="brand-text">  {{ item.copy | markdowmify }} </p>

          </div>
        </div>
      </div>

      {% endif %}


      {% endif %}
    {% endfor %}

  </div>
</div>
