---
layout: default
---
<div id="" class="page-title-slide" >
  <div class="title-content">
    <h1 class="page-title yellow">{{ page.title }}</h1>
    <img class="shoe" src="{{ site.baseurl }}{{ page.title-image }}" alt="">
  </div>
</div>
<div id="" class="brand-display">
  <div id="side-model-uomo" class="side-model" style="background-image: url({{ site.baseurl }}{{ page.side-model }})">
  </div>
  <div id="" class="brands" >

    {% assign section-name = page.section-name %}
    {% assign brands = "" | split: ',' %}
    {% for item in site.data.brands %}
      {% if item.section contains section-name %}
        {% assign brands = brands | push:item %}
      {% endif %}
    {% endfor %}

    {% assign brands-ordered = "" | split: ',' %}

    {% for ordered-item in site.data.brands-ordine.woman %}
      {% for item in brands %}
        {% if ordered-item == item.name %}

          {% assign brands-ordered = brands-ordered | push:item %}

        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include brand-display.html %}

  </div>
</div>
