---
layout: default
---

<div id="contatti-background">
  <div id="contatti-wrap">
    <h1 class="white">{{ page.title }}</h1>

    <div id="contatti" class="">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3014.181614740425!2d14.502224015715706!3d40.933686679308444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133bb3ccabac8337%3A0xe7f3303ed174924a!2s3diline!5e0!3m2!1sen!2sde!4v1558945447340!5m2!1sen!2sde"
        width="90%"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>

      <div id="contact-info" class="white">
        <div class="orari">
          <h2 class="white">Orari d'apertura</h2>
          <p><strong>Lunedì</strong>: 16.30 - 20.00</p>
          <p><strong>Martedì</strong>: 9.00 - 13.00 / 16.30 -20.00</p>
          <p><strong>Mercoledì</strong>: 9.00 - 13.00 / 16.30 - 20.00</p>
          <p><strong>Giovedì</strong>: 9.00 - 13.00 / 16.30 - 20.00</p>
          <p><strong>Venerdì</strong>: 9.00 - 13.00 / 16.30 - 20.00</p>
          <p><strong>Sabato</strong>: 9.00 - 13.00 / 16.30 - 20.00</p>

          <p>Chiusura Domenica e Lunedì mattina.</p>
        </div>
      </div>
    </div>
  </div>
</div>
