<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% include head.html %}
  <body>
      <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9KNR4K"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  
  <!-- End Google Tag Manager (noscript) -->

      {% include navigation.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}
      {% include js.html %}

  </body>
</html>
